@charset "UTF-8";
canvas {
  width: 100vw;
  height: 100vh;
}

.bubble {
  position: relative;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  font-family: "Arial, sans-serif";
  font-size: 14px;
  color: #333;
  transition: all 0.5s ease;
}
.bubble::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffffff;
}
.bubble.off {
  opacity: 0;
}

#guideTop {
  position: absolute;
  top: 30px;
  left: 50px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 1s;
}
#guideTop p {
  color: #ffffff;
}
#guideTop p.text {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}
#guideTop p.keys {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
}
#guideTop p.keys span {
  font-size: 15px;
  padding: 0 10px;
}
#guideTop p.keys svg {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#bubble {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 1720px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  font-family: "Arial, sans-serif";
  font-size: 20px;
  text-align: center;
  color: #333;
  opacity: 0;
  transition: all 0.5s ease;
}
#bubble.on {
  opacity: 1;
}
#bubble .enterIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
#bubble .enterIcon svg {
  width: 15px;
  height: 15px;
  color: #aaa;
  transform: rotateZ(90deg);
}

/* 장면 전환 애니메이션 키프레임 */
@keyframes sceneExit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#guideDetail {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 30px;
  color: #4f5d75;
  font-weight: 600;
}

#guideBottom {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 20px;
  padding: 30px;
  cursor: pointer;
  transform-origin: bottom right;
  transition: all 0.5s ease;
  scale: 0;
}
#guideBottom.show {
  scale: 1;
  cursor: inherit;
}
#guideBottom.show table {
  opacity: 1;
  visibility: visible;
}
#guideBottom table {
  opacity: 0;
  visibility: hidden;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #ccc;
  transition: all 0.5s ease;
}
#guideBottom table th,
#guideBottom table td {
  border: 1px solid #ccc;
  padding: 10px;
}
#guideBottom table .title {
  font-size: 30px;
  font-weight: 600;
}