.portfolio-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #adc4ce 50%, #eee0c9 50%);
}
.portfolio-container .portfolio {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.portfolio-container .portfolio .cards {
  position: absolute;
  top: -100px;
  left: -700px;
  width: 100%;
  height: 100%;
  transform: rotate(0);
  transition: 0.7s cubic-bezier(1, 0, 0, 1);
}
.portfolio-container .portfolio .cards .card {
  position: absolute;
  left: 1250px;
  top: calc(50% - 200px);
  width: 350px;
  height: 400px;
  transform-origin: -480px;
  transform-style: preserve-3d;
  perspective: 800px;
  transition: 0.7s cubic-bezier(1, 0, 0, 1);
  z-index: 10;
  cursor: pointer;
}
.portfolio-container .portfolio .cards .card .inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f1f0e8;
  transition: 0.7s cubic-bezier(1, 0, 0, 1);
  transform: rotateX(-30deg) translateZ(-100px);
  transform-style: preserve-3d;
}
.portfolio-container .portfolio .cards .card .inner .text,
.portfolio-container .portfolio .cards .card .inner .link {
  position: absolute;
  width: 70%;
  left: 0;
  transition: 0.2s cubic-bezier(1, 0, 0, 1);
  padding: 25px;
  background: #f1f0e8;
  opacity: 0;
}
.portfolio-container .portfolio .cards .card .inner .text {
  height: 60%;
  top: 0;
  transform: translateX(150%) rotateX(90deg);
  transform-origin: bottom;
}
.portfolio-container .portfolio .cards .card .inner .link {
  height: calc(40% - 15px);
  top: calc(60% + 15px);
  transform: translateX(150%) rotateX(90deg);
  transform-origin: top;
}
.portfolio-container .portfolio .cards .card:nth-of-type(1) {
  transform: rotate(0deg);
}
.portfolio-container .portfolio .cards .card:nth-of-type(1).clicked {
  z-index: 11;
}
.portfolio-container .portfolio .cards .card:nth-of-type(1).clicked .inner {
  width: 600px;
  height: 550px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-container .portfolio .cards .card:nth-of-type(1).clicked .inner .text,
.portfolio-container .portfolio .cards .card:nth-of-type(1).clicked .inner .link {
  transition: opacity 0s ease-in-out, transform 0.3s cubic-bezier(0, 1, 0, 1), box-shadow 0.2s ease-in-out;
  transform: translateX(150%) rotateX(0deg);
  opacity: 1;
}
.portfolio-container .portfolio .cards .card:nth-of-type(1).clicked .inner .text {
  transition-delay: 0.3s, 0.6s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(1).clicked .inner .link {
  transition-delay: 0.3s, 0.75s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(2) {
  transform: rotate(45deg);
}
.portfolio-container .portfolio .cards .card:nth-of-type(2).clicked {
  z-index: 11;
}
.portfolio-container .portfolio .cards .card:nth-of-type(2).clicked .inner {
  width: 600px;
  height: 550px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-container .portfolio .cards .card:nth-of-type(2).clicked .inner .text,
.portfolio-container .portfolio .cards .card:nth-of-type(2).clicked .inner .link {
  transition: opacity 0s ease-in-out, transform 0.3s cubic-bezier(0, 1, 0, 1), box-shadow 0.2s ease-in-out;
  transform: translateX(150%) rotateX(0deg);
  opacity: 1;
}
.portfolio-container .portfolio .cards .card:nth-of-type(2).clicked .inner .text {
  transition-delay: 0.3s, 0.6s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(2).clicked .inner .link {
  transition-delay: 0.3s, 0.75s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(3) {
  transform: rotate(90deg);
}
.portfolio-container .portfolio .cards .card:nth-of-type(3).clicked {
  z-index: 11;
}
.portfolio-container .portfolio .cards .card:nth-of-type(3).clicked .inner {
  width: 600px;
  height: 550px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-container .portfolio .cards .card:nth-of-type(3).clicked .inner .text,
.portfolio-container .portfolio .cards .card:nth-of-type(3).clicked .inner .link {
  transition: opacity 0s ease-in-out, transform 0.3s cubic-bezier(0, 1, 0, 1), box-shadow 0.2s ease-in-out;
  transform: translateX(150%) rotateX(0deg);
  opacity: 1;
}
.portfolio-container .portfolio .cards .card:nth-of-type(3).clicked .inner .text {
  transition-delay: 0.3s, 0.6s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(3).clicked .inner .link {
  transition-delay: 0.3s, 0.75s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(4) {
  transform: rotate(135deg);
}
.portfolio-container .portfolio .cards .card:nth-of-type(4).clicked {
  z-index: 11;
}
.portfolio-container .portfolio .cards .card:nth-of-type(4).clicked .inner {
  width: 600px;
  height: 550px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-container .portfolio .cards .card:nth-of-type(4).clicked .inner .text,
.portfolio-container .portfolio .cards .card:nth-of-type(4).clicked .inner .link {
  transition: opacity 0s ease-in-out, transform 0.3s cubic-bezier(0, 1, 0, 1), box-shadow 0.2s ease-in-out;
  transform: translateX(150%) rotateX(0deg);
  opacity: 1;
}
.portfolio-container .portfolio .cards .card:nth-of-type(4).clicked .inner .text {
  transition-delay: 0.3s, 0.6s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(4).clicked .inner .link {
  transition-delay: 0.3s, 0.75s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(5) {
  transform: rotate(180deg);
}
.portfolio-container .portfolio .cards .card:nth-of-type(5).clicked {
  z-index: 11;
}
.portfolio-container .portfolio .cards .card:nth-of-type(5).clicked .inner {
  width: 600px;
  height: 550px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-container .portfolio .cards .card:nth-of-type(5).clicked .inner .text,
.portfolio-container .portfolio .cards .card:nth-of-type(5).clicked .inner .link {
  transition: opacity 0s ease-in-out, transform 0.3s cubic-bezier(0, 1, 0, 1), box-shadow 0.2s ease-in-out;
  transform: translateX(150%) rotateX(0deg);
  opacity: 1;
}
.portfolio-container .portfolio .cards .card:nth-of-type(5).clicked .inner .text {
  transition-delay: 0.3s, 0.6s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(5).clicked .inner .link {
  transition-delay: 0.3s, 0.75s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(6) {
  transform: rotate(225deg);
}
.portfolio-container .portfolio .cards .card:nth-of-type(6).clicked {
  z-index: 11;
}
.portfolio-container .portfolio .cards .card:nth-of-type(6).clicked .inner {
  width: 600px;
  height: 550px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-container .portfolio .cards .card:nth-of-type(6).clicked .inner .text,
.portfolio-container .portfolio .cards .card:nth-of-type(6).clicked .inner .link {
  transition: opacity 0s ease-in-out, transform 0.3s cubic-bezier(0, 1, 0, 1), box-shadow 0.2s ease-in-out;
  transform: translateX(150%) rotateX(0deg);
  opacity: 1;
}
.portfolio-container .portfolio .cards .card:nth-of-type(6).clicked .inner .text {
  transition-delay: 0.3s, 0.6s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(6).clicked .inner .link {
  transition-delay: 0.3s, 0.75s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(7) {
  transform: rotate(270deg);
}
.portfolio-container .portfolio .cards .card:nth-of-type(7).clicked {
  z-index: 11;
}
.portfolio-container .portfolio .cards .card:nth-of-type(7).clicked .inner {
  width: 600px;
  height: 550px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-container .portfolio .cards .card:nth-of-type(7).clicked .inner .text,
.portfolio-container .portfolio .cards .card:nth-of-type(7).clicked .inner .link {
  transition: opacity 0s ease-in-out, transform 0.3s cubic-bezier(0, 1, 0, 1), box-shadow 0.2s ease-in-out;
  transform: translateX(150%) rotateX(0deg);
  opacity: 1;
}
.portfolio-container .portfolio .cards .card:nth-of-type(7).clicked .inner .text {
  transition-delay: 0.3s, 0.6s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(7).clicked .inner .link {
  transition-delay: 0.3s, 0.75s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(8) {
  transform: rotate(315deg);
}
.portfolio-container .portfolio .cards .card:nth-of-type(8).clicked {
  z-index: 11;
}
.portfolio-container .portfolio .cards .card:nth-of-type(8).clicked .inner {
  width: 600px;
  height: 550px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-container .portfolio .cards .card:nth-of-type(8).clicked .inner .text,
.portfolio-container .portfolio .cards .card:nth-of-type(8).clicked .inner .link {
  transition: opacity 0s ease-in-out, transform 0.3s cubic-bezier(0, 1, 0, 1), box-shadow 0.2s ease-in-out;
  transform: translateX(150%) rotateX(0deg);
  opacity: 1;
}
.portfolio-container .portfolio .cards .card:nth-of-type(8).clicked .inner .text {
  transition-delay: 0.3s, 0.6s, 0s;
}
.portfolio-container .portfolio .cards .card:nth-of-type(8).clicked .inner .link {
  transition-delay: 0.3s, 0.75s, 0s;
}

.info {
  position: fixed;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  animation: showInfo 0.5s forwards 0.5s;
  opacity: 0;
}
.info.hide {
  opacity: 1;
  animation: hideInfo 0.5s forwards;
}
.info p {
  padding-left: 60px;
  color: #f1f0e8;
  font-size: 1.5em;
}
.info .grab {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  animation: grab 1.5s infinite cubic-bezier(0.5, 0, 0, 1) 2s;
}
.info .grab img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes showInfo {
  to {
    opacity: 1;
  }
}
@keyframes hideInfo {
  to {
    opacity: 0;
  }
}
@keyframes grab {
  0%, 100% {
    top: -20px;
  }
  100% {
    top: 30px;
  }
}